<div class="login">
    <a href="/">
      <img
        class="login-logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1024px-Amazon_logo.svg.png"
        alt=""
      />
    </a>

    <div class="login_container">
      <h1>Create Account</h1>
      <form action="/createaccount" method="POST">
        <% if(messages.error) { %>
          <span style="color: red;"> <%= messages.error %></span>
          <% } %>
        <h5>Username</h5>
        <input type="text" placeholder="Username" name="name" value="<%= messages.name %>" />
        <h5>E-mail</h5>
        <input type="email" placeholder="E-mail" name="email" value="<%= messages.email %>" />
        <h5>Password</h5>
        <input
          type="password" placeholder="Password" name="password"
        />
        <button type="submit" class="login_signinButton">
          Create Account
        </button>
      </form>
    <a href="/login"><button class="login_registerButton" >
        Already have Account? Sign In
      </button></a>
    </div>
  </div>